.app {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-image: url('/src/assets/felt-texture.png');
  background-repeat: repeat;
  background-color: #1a4a22;
}

.inner {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
